@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Rubik:ital,wght@0,400;1,300;1,400&display=swap");

body{
  background-color: #2f74c0;
  margin: 30PX 0;

}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Neucha', cursive;
}

.heading{
  text-transform: uppercase;
  color: white;
  z-index: 1;
  text-align: center;
}
